<p id="notice"><%= notice %></p>
<br><br><br>
<div class="row">
<div class="nine columns centered">
<div class="row">
  <div class="three columns">
  
  
  <h2><%= @track.name %></h2>

  <h4><%= @track.artist %></h4>
<br>

<p>
  <b>Featured:</b>
  <%= @track.featured %>
</p>

<p>
  <b>Album:</b>
  <%= @track.album %>
</p>

<p>
  <b>Year:</b>
  <%= @track.year %>
</p>

<p>
  <b>Top40:</b>
  <%= @track.top40 %>
</p>

<p>
  <b>Top10:</b>
  <%= @track.top10 %>
</p>

<p>
  <b>Duration:</b>
  <%= @track.duration %>
</p>

<p>
  <b>Explicit:</b>
  <%= @track.explicit %>
</p>

<hr>
<%= link_to 'Back', tracks_path %> |
<%= link_to 'Edit', edit_track_path(@track) %>

</div>
<div class="six columns">
<p>
  <br>


<iframe src="https://embed.spotify.com/?uri=<%= @track.spotifyid %>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>



</p>  
</div>



</div>
</div>
</div>

