<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $.getJSON('http://ws.spotify.com/search/1/track.json?q=<%= @track.name %> <%= @track.artist %>', function(data) {
    var data = data.tracks;
    var firsttrackurl = 'https://embed.spotify.com/?uri=';
    for(var i=0; i<1; i++) {
        firsttrackurl += data[i].href;
    }
    var html = '<tr><th></th><th>Name</th><th>Artist</th><th>SpotifyId</th></tr><tr>';  
    for(var i=0; i<3; i++) {
        var numbering = i + 1;
        html += "<td>"  + numbering + '. ' + "</td><td>" + data[i].name + "</td><td>" + data[i].artists[0].name + "</td><td>" + data[i].href + "</td></tr>";
        console.log(i + ' ' + data[i].name + ' (' + data[i].artists[0].name + ') [' + data[i].href + ']');
    }
    html += "</tr>"
      $('iframe.spotifyembed').attr('src', firsttrackurl);
      $('.spotify_results').html(html);
      console.log();
  });
});
</script>
<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<div class="row">
  <div class="nine columns centered">
    <div class="row">
      <div class="three columns">
        <h2><%= @track.name %></h2>
        <h4><%= @track.artist %></h4>
        <br>
        <p> <b>Featured:</b> <%= @track.featured %> </p>
        <p> <b>Album:</b> <%= @track.album %> </p>
        <p> <b>Year:</b> <%= @track.year %> </p>
        <p> <b>Top40:</b> <%= @track.top40 %> </p>
        <p> <b>Top10:</b> <%= @track.top10 %> </p>
        <p> <b>Duration:</b> <%= @track.duration %> </p>
        <p> <b>Explicit:</b> <%= @track.explicit %> </p>
      </div>
      <div class="six columns">
        <p> <br>
          <iframe class="spotifyembed" src="" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <hr>
        <%= link_to 'Back', tracks_path %> | <%= link_to 'Edit', edit_track_path(@track) %>         
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="two columns">
        <h3>Spotify Match Results:</h3>
      </div>
      <div class="ten columns">
        <table>
          <tbody class="spotify_results"></tbody>
        </table>


      </div>

    </div>
    
  </div>
</div>
